<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
              <binding name="WSHttpBinding_IUserService" closeTimeout="00:10:00"
                  openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="500000"
                  maxReceivedMessageSize="500000">
                <security mode="None">
                  <transport clientCredentialType="None"/>
                </security>
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vchatservices.no-ip.biz:60111/UserService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserService"
                contract="UserService.IUserService" name="WSHttpBinding_IUserService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>