<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Users\ITExplore\Documents\Visual Studio 2010\Projects\vChat\vChatServices\vChat.WCF\Web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="C:\Users\ITExplore\Documents\Visual Studio 2010\Projects\vChat\vChatServices\vChat.WCF\Web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="ValidationOn" value="On" />
  </appSettings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" />
    <customErrors mode="RemoteOnly" />
  </system.web>  
  <system.serviceModel>
    
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <wsHttpBinding>
        <binding name="bigReceivedMessageSize" transactionFlow="false" maxReceivedMessageSize="500000" maxBufferPoolSize="500000" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="64" maxStringContentLength="500000" maxArrayLength="500000" maxBytesPerRead="500000" maxNameTableCharCount="500000" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="vChat.WCF.UserService" behaviorConfiguration="vChat.WCF.vChatBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="bigReceivedMessageSize" contract="vChat.Model.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:60111/UserService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="vChat.WCF.vChatBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />          
          <!--<useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add scheme="http" port="60111" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <remove name="LocalSqlServer" />    
    <add name="vChatDB" connectionString="Data Source=ITEXPLORE-PC\ITESQLSV;Initial Catalog=vChatDB;User Id=sa;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>