<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>
    <add key="ValidationOn" value="On" />
  </appSettings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" />
  </system.web>  
  <system.serviceModel>
    
    <bindings>      
      <wsHttpBinding>
        <binding name="bigReceivedMessageSize" maxReceivedMessageSize="500000" maxBufferPoolSize="500000" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="64" maxStringContentLength="500000" maxArrayLength="8192" maxBytesPerRead="500000" maxNameTableCharCount="500000" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="vChat.WCF.UserService" behaviorConfiguration="vChat.WCF.vChatBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="bigReceivedMessageSize" contract="vChat.Model.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://itexplore.no-ip.biz:60111/vChatServices/UserService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="vChat.WCF.vChatBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add scheme="http" port="60111" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>    
    <add name="vChatDB" connectionString="Data Source=ITEXPLORE-PC\ITESQLSV;Initial Catalog=vChatDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>